@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app, .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box, .circle {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.box { border-radius: 12px; }

.circle { border-radius: 100%; }

.blue, .green {
  background-blend-mode: color-dodge;
}

.blue {
background: radial-gradient(
    78.77% 78.77% at 71.71% 30.77%,
    #f0fcff 0%,
    #9bedff 67.21%,
    #98ecff 76.04%,
    #5be1ff 84.9%,
    #00bae2 94.79%
  ),
  url('https://assets.codepen.io/16327/noise-e82662fe.png');
}

.green {
  background: linear-gradient(
    114.41deg,
    #0ae448 20.74%,
    #abff84 65.5%
  ),
  url('https://assets.codepen.io/16327/noise-e82662fe.png');
}

.flair {
  position: fixed;
  transform: translate(-50%, -50%);
  scale: 0.4;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #FFFFFF;
  border-radius: 99%;
}